<footer>
    <section class="left">
        <p>Vamos las bandas</p>
    </section>
    <section class="rigth">
        <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
        <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
    </section>
</footer>
<script src="/js/headerFooter.js"></script>