<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/addProduct.css">

<body>

    <%- include('partials/header.ejs') %>

        <main>
            <form action="/" method="" class="register" >
                <h3>Agregar Producto</h3>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nombre del Producto" minlength="10" required >
                </div>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Descripcion del Producto" minlength="20" required >
                </div>      
                <div class="form-group-rc">
                    <label for="hobbies"> Colores </label>
                    <div>
                        <input type="checkbox" name="hobbies" value="1">
                        <label for="1">Negro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="hobbies" value="2">
                        <label for="2">Rojo</label>
                    </div>
                    <div>
                        <input type="checkbox" name="hobbies" value="3">
                        <label for="3">Blanco</label>
                    </div>
                    <div>
                        <input type="checkbox" name="hobbies" value="4">
                        <label for="4">Azul</label>
                    </div>
                    <div>
                        <input type="checkbox" name="hobbies" value="4">
                        <label for="5">Marron</label>
                    </div>
                </div>
                <div class="form-group-rc">
                    <label for="hobbies"> Categoria </label>
                    <div>
                        <input type="checkbox" name="hobbies" value="1">
                        <label for="1">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="hobbies" value="2">
                        <label for="2">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="hobbies" value="3">
                        <label for="3">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="hobbies" value="4">
                        <label for="4">Jugueteria</label>
                    </div>
                    <div>
                        <input type="checkbox" name="hobbies" value="4">
                        <label for="5">Vida Sana</label>
                    </div>
                </div>
                <div class="form-group-photo" id="img">
                    <input type="file" name="img" accept="image/*" >
                </div>
                <button type="submit" class="primary"> Enviar </button>
            </form>
        </main>

    <%- include('partials/footer.ejs') %>

</body>
</html>