<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vamos Las Bandas</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header>
        <a href="/index"><img src="img/logo.png" alt="logo"></a>
        <div class="searchbar" action="#" method="GET">
            <input class="input" placeholder="Buscar productos, marcas y más">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <nav class="main-navbar">
            <ul>
            <li><a href="/productDetail">Productos</a></li>
            <li><a href="/productCart">Mi Carrito</a></li>
            <li><a href="/login">Ingresá</a></li>
            <li><a href="/register">Registrate</a></li>
            <li><a href="#">Reservas</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Ubicación</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>SALAS DE ENSAYO Y ENSAMBLE</h1>
        <section class="reservas">
        <h2>RESERVAS</h2>
        <div class="SalasDeEnsayo">
            <article class="SalaDeEnsayo">
        <img src="img/SalaDeEnsayo1.webp" alt="SalaDeEnsayo"/>
        <h4 class="descripcion">Sala De Ensayo 1</h4>
            </article>
            <article class="SalaDeEnsayo">
        <img src="img/SalaDeEnsayo2.jpg" alt="SalaDeEnsayo"/>
        <h4 class="descripcion">Sala De Ensayo 2</h4>
            </article>
            <article class="SalaDeEnsayo">
        <img src="img/SalaDeEnsayo3.jpg" alt="SalaDeEnsayo"/>
        <h4 class="descripcion">Sala De Ensayo 3</h4>
            </article>
        </div>  
        </section>

        <section class="productos">
        <h2>PRODUCTOS</h2>
        <h3>Ver todos los productos</h3>
        <div class="productos">
            <article class="producto">
        <h4 class="descripcion">Bajo</h4>
        <img src="img/Bajo.jpg" alt="producto"/>
            </article>
            <article class="producto">
        <h4 class="descripcion">Batería</h4>
        <img src="img/Bateria.jpg" alt="producto"/> 
            </article>
            <article class="producto">
        <h4 class="descripcion">Guitarra Eléctrica</h4>
        <img src="img/GuitarraElectrica.jpg" alt="producto"/>
            </article>
            <article class="producto">
        <h4 class="descripcion">Micrófono</h4>
        <img src="img/Microfono.jpeg" alt="producto"/>
            </article>
        </div>  
        </section>




    </main>
</body>
</html>