<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/index.css">

<body>

    <%- include('partials/header.ejs') %>

    <main>
        <h1>SALAS DE ENSAYO Y ENSAMBLE</h1>
        <section class="reservas">
        <h2>RESERVAS</h2>
        <div class="SalasDeEnsayo">
            <article class="SalaDeEnsayo">
        <img src="img/SalaDeEnsayo1.webp" alt="SalaDeEnsayo"/>
        <h4 class="descripcion">Sala De Ensayo 1</h4>
            </article>
            <article class="SalaDeEnsayo">
        <img src="img/SalaDeEnsayo2.jpg" alt="SalaDeEnsayo"/>
        <h4 class="descripcion">Sala De Ensayo 2</h4>
            </article>
            <article class="SalaDeEnsayo">
        <img src="img/SalaDeEnsayo3.jpg" alt="SalaDeEnsayo"/>
        <h4 class="descripcion">Sala De Ensayo 3</h4>
            </article>
        </div>  
        </section>

        <section class="productos">
        <h2>PRODUCTOS</h2>
        <h3>Ver todos los productos</h3>
        <div class="productos">
            <article class="producto">
        <h4 class="descripcion">Bajo</h4>
        <img src="img/Bajo.jpg" alt="producto"/>
            </article>
            <article class="producto">
        <h4 class="descripcion">Batería</h4>
        <img src="img/Bateria.jpg" alt="producto"/> 
            </article>
            <article class="producto">
        <h4 class="descripcion">Guitarra Eléctrica</h4>
        <img src="img/GuitarraElectrica.jpg" alt="producto"/>
            </article>
            <article class="producto">
        <h4 class="descripcion">Micrófono</h4>
        <img src="img/Microfono.jpeg" alt="producto"/>
            </article>
        </div>  
        </section>

    </main>

    <%- include('partials/footer.ejs') %>

</body>
</html>