<!-- app.get('/login', (req,res)=>{
    res.sendFile(__dirname + '/views/login.html');
}); -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingresá</title>
    <link rel="icon" href="img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
    <header>
        <a href="/index"><img src="img/logo.png" alt="logo"></a>
        <div class="searchbar" action="#" method="GET">
            <input class="input" placeholder="Buscar productos, marcas y más">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <nav class="main-navbar">
            <ul>
            <li><a href="/productDetail">Productos</a></li>
            <li><a href="/productCart">Mi Carrito</a></li>
            <li><a href="/login">Ingresá</a></li>
            <li><a href="/register">Registrate</a></li>
            <li><a href="#">Reservas</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Ubicación</a></li>
            </ul>
        </nav>
    </header>
    <main class="login-form">
        <h1 class="title">Iniciar Sesion</h1>
        <form action="#" method="POST">
            <div class="form-obj">
            <input type="text" name="user" placeholder="Nombre de usuario">
            </div>
            <div class="form-obj">
            <input type="password" name="pass" placeholder="Contraseña">
            </div>
            <div class="buttons">
                <input type="submit" value="Enviar">
            </div>
            
        </form>
    </main>
    <section class="remember">
        <input type="checkbox" id="remember" name="remember" checked>
        <label for="remember">Recordar usuario</label>
      </div>
    <!-- boton login -->
    <a href="/register"><p class="help">Registrarse</p></a>
    </section>
    <footer>
        <section class="left">
            <p>Vamos las bandas</p>
        </section>
        <section class="rigth">
            <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
            <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
        </section>
    </footer>
</body>
</html>