<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Detalle de producto</title>
    <link rel="icon" href="img/logo.png">
</head>
<body>
    <header>
        <a href="#"><img src="img/logo.png" alt="logo"></a>
    </header>
    <main>
        <section class="higher">
            <article class="images">
                <section class="principal">
                    <img src="img/guitar1.jpg" alt="">
                </section>
                <section class="miniatures">
                    <a href="#"><img src="img/guitar1.jpg" alt=""></a>
                    <a href="#"><img src="img/guitar2.jpg" alt=""></a>
                    <a href="#"><img src="img/guitar3.jpg" alt=""></a>
                    <a href="#"><img src="img/guitar4.jpg" alt=""></a>
                </section>
            </article>
            <article class="detail">
                    <h1>Schecter C-1 Custom Floyd Rose Seymour Duncan</h1>
                    <h4>$ 422000</h4>
                    <p>Color:See-thru black</p>
                    <p>Orientación De La Mano:Diestro</p>
                <section class="buttons">
                    <button>Comprar</button>
                    <button>Agregar al carrito</button>
                </section>
            </article>
        </section>
        <section class="lower">
            <section class="description">
                <h1></h1>
                <p></p>
            </section>
        </section>
    </main>
    <footer>
        <p>Vamos las bandas</p>
    </footer>
</body>
</html>