<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carrito de Compras</title>
    <link rel="icon" href="img/logo.png">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productCart.css">
</head>

<body>
    <header></header>
    <main>
        <h3 class = "titulo-principal">Carrito</h3>
        <section class="articulosEnCarrito">
            <article>
                <img src="img/guitar1.jpg" alt="">
                <section class="info-articulo">
                    <h2 class = "titulo-articulo">
                        <a href="/productDetail">Schecter C-1 Custom Floyd Rose Seymour Duncan</a>
                    </h2>
                    <h2 class = "descripcion-articulo"> Color: See-thru black | Orientación De La Mano: Diestro</h2>

                </section>
    </main>
    <footer></footer>
</body>
</html>