<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carrito de Compras</title>
    <link rel="icon" href="img/logo.png">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/headerFooter.css">
    <link rel="stylesheet" href="css/productCart.css">
</head>

<body>
    <header>
        <a href="/index"><img src="img/logo.png" alt="logo"></a>
        <div class="searchbar" action="#" method="GET">
            <input class="input" placeholder="Buscar productos, marcas y más">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <nav class="main-navbar">
            <ul>
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/productCart">Mi Carrito</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/register">Registrate</a></li>
                <li><a href="#">Reservas</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Ubicación</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3 class = "titulo-principal">Mi Carrito</h3>
        <hr>
        <section class = "carrito-de-compras">
            <section class="columna-izquierda">
                <article>
                    <img src="img/guitar1.jpg" alt="">
                    <section class="info-articulo">
                        <h2 class = "titulo-articulo">
                            <a href="/productDetail">Schecter C-1 Custom Floyd Rose Seymour Duncan</a>
                        </h2>
                        <h2 class = "descripcion-articulo"> Color: See-thru black | Orientación De La Mano: Diestro</h2>
                        <i class="fas fa-trash"></i>
                        <i class="fas fa-edit"></i>
                    </section>
                    <section class="ui-quantity-selector__container">
                            <form class="u-float-left" action="/gz/cart/item/quantity?id=MLA1145029073" method="POST">
                                <input data-quantity="pop" type="submit" value="-" class="u-button-reset ui-quantity-selector__button" name="pop">
                            </form>

                                <input autocomplete="off" data-quantity="input" type="tel" value="1" class="u-button-reset ui-quantity-selector__input" name="quantity">
                    
                            <form class="u-float-left" action="/gz/cart/item/quantity?id=MLA1145029073" method="POST">
                                <input data-quantity="push" type="submit" value="+" class="u-button-reset ui-quantity-selector__button" name="push">
                            </form>
                            <div class="cart-inline-loading__quantity-selector" data-region="quantity-loading"></div>
                    </section>
                    <section class = "total">
                        <span>
                            $
                            <strong class="display_total">422.000,00</strong>
                        </section>
                    </div>   
                </article>
                <hr>
                <div class="agregar-mas-productos"><a href="/"> < Agregar más productos</a></div>
            </section>
            <section class = "columna-derecha">
                <section class = "totales">
                        <div class = "subtotal">
                            <h3>Subtotal</h3>
                            <span>
                                $
                                <strong class="display_subtotal">422.000,00</strong>
                            </span>
                        </div>
                        <hr>
                        <div class = "envio">
                            <div class = "icono-titulo">
                                <i class="fas fa-truck"></i>
                                <h3>Envío</h3>
                            </div>
                            <div class="calcular-envio" action="#" method="GET">
                                <input class="input" placeholder="Tu código postal">
                                <button type ="button">Calcular</button>
                            </div>
                        </div>
                        <hr>
                        <div class = "cupon">
                            <div class = "icono-titulo">
                                <i class="fas fa-tag"></i>
                                <h3>Cupón de descuento</h3>
                            </div>
                            <div class="calcular-descuento" action="#" method="POST">
                                <input class="input" placeholder="Código">
                                <button type ="button">Aplicar</button>
                            </div>
                        </div>

                        <hr>
                        <div class = "total">
                            <h3>TOTAL</h3>
                            <span>
                                $
                                <strong class="display_total">422.000,00</strong>
                            </span>
                        </div>
                </section>
                <a href="#" class="myButton">Comprar</a>
            </section>
        </section>
    </main>
    <footer>
        <section class="left">
            <p>Vamos las bandas</p>
        </section>
        <section class="rigth">
            <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
            <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
        </section>
    </footer>
</body>
</html>