<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Detalle de producto</title>
    <link rel="icon" href="img/logo.png">
</head>
<body>
    <header>
        <a href="/index"><img src="img/logo.png" alt="logo"></a>
    </header>

    <main>
        <section class="higher">
                <p class="title">Schecter C-1 Custom Floyd Rose Seymour Duncan</p>

            <section class="main-options-container">
                <section class="options-container--slider">
                    <article class="options-container--card">
                            <img class="options-card--img" src="img/guitar1.jpg" alt="guitar"/>
                    </article>
                    <article class="options-container--card">
                            <img class="options-card--img" src="img/guitar2.jpg" alt="guitar"/>
                    </article>
                    <article class="options-container--card">
                            <img class="options-card--img" src="img/guitar3.jpg" alt="guitar"/>
                    </article>
                    <article class="options-container--card">
                        <img class="options-card--img" src="img/guitar4.jpg" alt="guitar"/>
                </article>
                </section>
            </section>

            <section class="info">
                <article class="description-prin">
                    <p class="title2">Schecter C-1 Custom Floyd Rose Seymour Duncan</p>
                    <section class="valor">
                        <p class="price">$ 422.000</p>
                        <p class="discount">20% off</p>
                    </section>
                    <section class="dates">
                        <p>Color:See-thru black</p>
                        <p>Orientación De La Mano:Diestro</p>
                    </section>
                </article>

                <section class="buttons">
                    <button>Comprar Ahora</button>
                    <button>Agregar al carrito</button>
                </section>
            </section>
        </section>
        <section class="lower">
            <section class="description-sec">
                <h1>Descripción</h1>
                <p>
                    -Tapa: de Arce Flameado.
                    <br>-Cuerpo: Caoba.
                    <br>-Mástil: Arce.
                    <br>-Diapasón: Ébano.
                    <br>-Incrustaciones: Nácar.
                    <br>-Trastes: 24 medianos.
                    <br>-Escala: 24-3 / 4 ".
                    <br>-Micrófono Puente: Seymour Duncan (SH-11).
                    <br>-Micrófono Cuello: Seymour Duncan '59 (Sh-1n).
                    <br>-Volumen, volumen, tono (con división de bobina).
                    <br>-Puente de trémolo: Licencia de Floyd Rose.
                    <br>-Hardware Cromado.
                </p>
            </section>
        </section>
    </main>

    <footer>
        <p>Vamos las bandas</p>
    </footer>
</body>
</html>