<!-- app.get('/register', (req,res)=>{
    res.sendFile(__dirname + '/views/register.html');
}); -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrate</title>
    <link rel="icon" href="img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/register.css">

</head>
<body>
    <header>
        <a href="/index"><img src="img/logo.png" alt="logo"></a>
        <div class="searchbar" action="#" method="GET">
            <input class="input" placeholder="Buscar productos, marcas y más">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <nav class="main-navbar">
            <ul>
            <li><a href="/productDetail">Productos</a></li>
            <li><a href="/productCart">Mi Carrito</a></li>
            <li><a href="/login">Ingresá</a></li>
            <li><a href="/register">Registrate</a></li>
            <li><a href="#">Reservas</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Ubicación</a></li>
            </ul>
        </nav>
    </header>
    <main class="title">
        <h1>Registrarse</h1>
        <form class="form-group" action="#" method="POST">
            <div class="form-obj">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="janis.joplin@vlb.com">
            </div>
            <div class="form-obj">
                <label for="name">Nombre</label>
                <input type="text" name="name" placeholder="Janis" required >
            </div>
            <div class="form-obj">
                <label for="last-name">Apellido</label>
                <input type="password" name="last-name" placeholder="Joplin" required>
            </div>
            <div class="form-obj">
                <label for="address">Direccion</label>
                <input type="text" name="address" placeholder="Av Cordoba 333" required>
            </div>
            <div class="form-obj">
                <label for="instrument">Instrumento</label>
                <select name="instrument">
                    <option>Instrumentos</option>
                    <option value="">Bajo</option>
                    <option value="">Bateria</option>
                    <option value="">Guitarra</option>
                    <option value="">Teclado</option>
                    <option value="">Voz</option>
            </div>
            <div class="button">
                <input type="submit" value="Enviar">
            </div>
            
        </form>
    </main>
    <section class="help">
    <a href="/login">
        <p>Ya tenes una cuenta?</p>
        <p>Iniciar Sesion</p></a>
    </section>
    <footer>
        <section class="left">
            <p>Vamos las bandas</p>
        </section>
        <section class="right">
            <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
            <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
        </section>
    </footer>
</body>
</html>