/*General*/

:root{
    --rojo-logo: #d10000; /*Logo Red*/
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}

*{
    font-family: 'Roboto Flex', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

/*Header*/

/*Main*/

/*** REGISTRO ***/

main{
    width: 90%;
    margin: 0 auto;
    background-color: lightgrey;
}

.form-group label,
.form-obj label{
    padding-bottom: 10px;
}

form.register {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 9px;
    background-color: lightgrey;
    min-width: 300px;
    max-width: 350px;
}

form.register h3{
    margin-bottom: 10px;
}

.form-group input,
.form-obj select{
    width: 80%;
    height: 36px;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    padding: 2px;
    overflow: hidden;
    max-height: 30px;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 4px;
}

.productDetail{
    resize: none;
    width: 80%;
    outline: none;
    border-radius: 4px;
    border: none;
    overflow: hidden;
    padding: 2px;
    margin-left: 30px;
    padding-left: 15px;
    padding-top: 10px;
}

.productDetail:hover{
    outline:solid 1px #d10000;
}

.form-group,
.form-group-rc,
.form-obj{
    width: 290px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group-rc div,
.form-objet div{
    padding-left: 30px;
    margin-top: 10px;
}

/*inicio foto*/

.form-group-photo {
    width: 200px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }

.form-group-photo::before {
    background-color: rgb(60, 60, 60);
    font-size: 12px;
    color:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar foto del producto';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

.form-group-photo input[type="file"] {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 12px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    display: inline-block;
    opacity: 0;
  }

#img::before {
    content: 'Seleccionar foto del producto';
  }

  .form-group-photo:hover::before{
    background-color: #d10000;
    color: var(--light-gray);
  }

/*fin foto*/  

.primary {
    width: 220px;
    border: none;
    background-color:rgb(180, 35, 35);
    border-radius: 3px;
    margin: 3px;
    color: white;
    padding: 10px;
    font-size: 20px;
}



.primary:hover {
    background-color:rgb(130, 25, 25);
}

.form-group input:hover{
    outline: 1px solid #d10000;
}

/* .form-obj select{
    width: 80%;
    height: 36px;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    padding: 2px;
    overflow: hidden;
    max-height: 30px;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 4px;
}

.form-obj select:hover{
    outline:solid 1px #d10000;
} */

.text-danger{
    font-size: 0.8rem;
    font-size: bold;
    color:red;
    margin: 3px;
}