:root{
    --rojo-logo: #d10000; /*Botones?*/
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}
/*Si les parece vamos viendo q colores usamos y los agregamos comentados en todos los CSS*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    color: black;
}

a:hover{
    color:#d10000;
}

body{
    background-color: lightgray;
}

/*Main*/

.main-container{
    border-top: 1px solid var(--gris-oscuro);
    border-bottom: 1px solid var(--gris-oscuro);
    margin: 10px 0;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

main h1, main h2, main h3 {
    margin: 20px 0px;
    text-align: center;
}

.card-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    height: 200px;
    width: 30vh;
}

.card-article:hover{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

.card-article img{
    width: 50%;
    border-radius: 5px;
    height: auto;
}

.descripcion{
    margin-bottom: 10px;
}

/*Media Queries*/