

:root{
    --rojo-logo: #d10000; /*Botones?*/
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}
/*Si les parece vamos viendo q colores usamos y los agregamos comentados en todos los CSS*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    color: black;
}

a:hover{
    color:#d10000;
}

body{
    background-color: lightgray;
}

/*Main*/

main h1, main h2{
    text-align: center;
    padding-top: 10px;
}

.main-container{
    border-top: 1px solid var(--gris-oscuro);
    border-bottom: 1px solid var(--gris-oscuro);
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    overflow: hidden;
}

.card-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    height: 320px;
    width: 30vh;
    margin: 20px;
}

.allProducts{
    text-align: center;
    padding-top: 10px;
    font-size: 1.1em;
}

.name{
    font-size: 24px;
    padding-bottom: 20px;
}

.card-price{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.price{
    color:darkgreen;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 25px;
    margin-left: -50px;
}

.fas{
    color: darkgreen;
    font-size: 20px;
}

.image{
    margin-top: 15px;
    text-align: center;
    width: 300px;
}

.card-article:hover{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

.card-article img{
    width: 50%;
    border-radius: 5px;
    height: auto;
}

/*Media Queries*/