:root{
    --rojo-logo: #d10000; /*Botones?*/
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}
/*Si les parece vamos viendo q colores usamos y los agregamos comentados en todos los CSS*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

/*Header*/

header{
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: black;
    width: 100%;
    height: 80px;
}

header a{
    display: flex;
    padding: 10px;
}

/*Main*/

main{
    position: relative;
    top: 80px
}

.higher{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.images{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.principal{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}

.principal img{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 2px gray;
    border-radius: 10px;
}

.miniatures{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
    padding: 10px 0;
}

.miniatures a img{
    display: flex;
    width: 60%;
    margin: 3px;
    border: solid 1px gray;
    border-radius: 2px;
}

.detail{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
    justify-content: space-around;
    height: 200px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons button{
    border: none;
    background-color:firebrick;
    border-radius: 3px;
    margin: 3px;
    color: white;
    padding: 3px;
}

/*footer*/

footer{
    position: relative;
    top:90px;
    background-color:rgb(60, 60, 60);
    height: 50px;
}

footer p{
    color: white;
    font-size: small;
    text-align: center;
    padding-top: 10px;
}

/*Media Queries*/