:root{
    --rojo-logo: #d10000; /*Botones?*/
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}
/*Si les parece vamos viendo q colores usamos y los agregamos comentados en todos los CSS*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

/*---Header---*/


header{
    display: flex;
    background-color: rgb(60, 60, 60);
    height: 20vh;
    justify-content: space-between;
}

header a{
    display: flex;
    padding: 5px;
    width: 10%;
    margin-left: 20px;
    border: #FFF;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 60px;
}

header .searchbar .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 5px 0px 0px 5px;
    width: 30vw;
    height: 5vh;
    border: 0px;
}

header .searchbar .submit{
    background-color: #FFF;
    color: #666;
    padding: 2px;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    height: 5vh;
    align-items: center;
    display: flex;
    transition: all 0.5s;
}

.main-navbar {
    display: flex;
}

.main-navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}


.main-navbar a {
    text-decoration: none;
    padding: 5px 0;
    font-size: 17px;
    color: var(--gris-claro);
    margin-right: 20px;     
}


/*---Main---*/


/* carrusel inicio */

.main-options-container{
    display: flex;
    width: 90%;
    min-width: 320px;
    text-align: center;
    justify-content: center;
}

.options-container--slider{
    display: flex;
    align-items: center;
    width: 250px;
    height: 320px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.options-container--card{
    display: flex;
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
    min-width: 230px;
    max-width: 250px;
    height: 300px;
    margin: 5px;
    padding: 0 15px;
    padding-left: 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.options-card--img{
    width: 100%;
    height: 90%;
    max-width: 20rem;
    align-self: center;
    object-fit: contain;
}

/* carrusel fin */

.higher{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 320px;
    text-align: center;
    justify-content: center;
}

.title{
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 5px;
    width: 90%;
    text-align: start;
    margin-left: 20px;
}

.title2{
    display: none;
    font-size: 1em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90%;
    text-align: start;
    margin-left: 20px;
}


.higher img{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.valor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.price{
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
}

.dates p{
    display: flex;
    align-items: flex-start;
    padding: 5px 25px;
}

.discount{
    color:green;
    font-weight: bold;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.buttons input{
    width: 130px;
    border: none;
    background-color:rgb(180, 35, 35);
    border-radius: 3px;
    margin: 3px;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
}

.buttons :last-child{
    background-color: rgb(240, 60, 60); ;
}

.buttons:hover{
    background-color: none;
}

.buttons input:hover{
    background-color: none;
    cursor:pointer;
}


.buttons input:first-child:hover{
    background-color: rgb(130, 25, 25);
}

.buttons input:last-child:hover{
    background-color: rgb(180, 35, 35);
}

.lower{
    width: 90%;
    min-width: 320px;
    margin-bottom: 10px;
}

.description-sec{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 7px;
    background-color: white;
}

.description-sec p, h1{
    padding: 10px 20px;
}


/*---footer---*/

footer{
    width: 100%;
    background-color:rgb(60, 60, 60);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    width: 70%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.left p{
    color: white;
    font-size: 16px;
    text-align: center;
}

.rigth{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.rigth a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
}

.rigth a i{
    color: white;
    padding-right: 5px;
}

/*--media queris--*/

@media (min-width: 470px){

    .main-navbar{
        display: block;
    }

    .title{
        display: none;
    }

    .higher{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        max-width: 540px;
    }

    .description-prin{
        width: 80%;
        margin-left: -15px;
    }

    .main-options-container{
        margin-left: -35px;
        margin-right: -35px;
    }

    .options-container--slider{
        margin-top: 15px;
        margin-left: -10px;
    }

    .title2{
        display: block;
    }

    .valor{
        display: flex;
        flex-direction: column;
    }

    .info{
        display: flex;
        flex-direction: column;
    }

    .dates p{
        text-align:start;
        font-size: 12px;
    }

    .buttons{
        margin-left: -50px;
        display: flex;
        flex-direction: column;
    }

    .lower{
        width: 100%;
    }

    .description-sec{
        width: 80%;
    }

    .rigth{
        display: flex;
        flex-direction: row;
    }

}

@media (min-width: 769px){

    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 1024px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .main-options-container{
        margin-left: -35px;
    }

    .higher{
        width: 60%;
    }

    .main-options-container{
        width: 50%;
    }

    .info{
        margin-left: 10px;
        width: 50%;
    }

    .lower{
        margin-left: -50px;
        width: 40%;
    }

    .description-sec{
        width: 70%;
        margin-left: -10px;
        margin-top: 25px;
        height: 300px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }

    .description-sec p{
        position: relative;
        scroll-snap-align: center;
    }
}