:root{
    --rojo-logo: #d10000; /*Botones?*/
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}
/*Si les parece vamos viendo q colores usamos y los agregamos comentados en todos los CSS*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

/*Header*/


/*header{
    display: flex;
    background-color: rgb(60, 60, 60);
    height: 20vh;
    justify-content: space-between;
}

header a{
    display: flex;
    padding: 5px;
    width: 10%;
    margin-left: 20px;
    border: #FFF;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 60px;
}

header .searchbar .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 5px 0px 0px 5px;
    width: 30vw;
    height: 5vh;
    border: 0px;
}

header .searchbar .submit{
    background-color: #FFF;
    color: #666;
    padding: 2px;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    height: 5vh;
    align-items: center;
    display: flex;
    transition: all 0.5s;
}

.main-navbar {
    display: flex;
}

.main-navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-navbar a {
    text-decoration: none;
    padding: 5px 0;
    font-size: 17px;
    color: var(--gris-claro);
    margin-right: 20px;     
}*/


/*Main*/

.title{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin: 20px 0px;
}

.form-obj{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin:10px;
    padding-left:35%;
    padding-right:35%;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button input{
    width: 130px;
    border: none;
    background-color:rgb(180, 35, 35);
    border-radius: 3px;
    margin: 3px;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
}

.button:last-child{
    background-color: rgb(236, 203, 203); ;
}

.button:hover{
    background-color: none;
}

.button input:hover{
    background-color: none;
    cursor:pointer;
}


.button input:first-child:hover{
    background-color: rgb(130, 25, 25);
}

.button input:last-child:hover{
    background-color: rgb(180, 35, 35);
}

.help{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin: 20px 0px;
}

/*Footer*/

/*footer{
    width: 100%;
    background-color:rgb(60, 60, 60);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    width: 70%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.left p{
    color: white;
    font-size: 16px;
    text-align: center;
}

.right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.right a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
}

.right a i{
    color: white;
    padding-right: 5px;
}*/

/*Media Queries*/