:root{
    --rojo-logo: #d10000; /*Botones?*/
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}
/*Si les parece vamos viendo q colores usamos y los agregamos comentados en todos los CSS*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

/*Main*/

.title{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin: 20px 0px;
}

.form-obj{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin:10px;
    padding-left:35%;
    padding-right:35%;
}

.form-obj input{
    width: 80%;
    height: 36px;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    padding: 2px;
    overflow: hidden;
    max-height: 30px;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 4px;
}

.form-obj select{
    width: 85%;
    height: 36px;
    background-color: #FFF;
    border: solid 1px var(--gris-oscuro);
    outline: none;
    color: #666;
    padding: 2px;
    overflow: hidden;
    max-height: 30px;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 4px;
}


.buttons{
	background-color:rgb(240, 60, 60);
	border-radius:4px;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:12px 76px;
	text-decoration:none;
    width: auto;
    text-align: center;
    border:none;
}

.buttons:hover{
    background-color: rgb(180, 35, 35);
    cursor:pointer;
}


/* .buttons input:first-child:hover{
    background-color: rgb(180, 35, 35);
} */

.help{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin: 20px 0px;
}

.form-obj input:hover,
.form-obj select:hover{
    outline:solid 1px #d10000;
}

/*Media Queries*/