:root{
    --rojo-logo: #d10000; /*Botones?*/
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}
/*Si les parece vamos viendo q colores usamos y los agregamos comentados en todos los CSS*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

/*Main*/

.title{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin: 20px 0px;
}

.form-obj{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin:10px;
    padding-left:35%;
    padding-right:35%;
}

.form-obj input{
    width: 80%;
    height: 36px;
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    padding: 2px;
    overflow: hidden;
    max-height: 30px;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 4px;
}

.form-obj select{
    width: 85%;
    height: 36px;
    background-color: #FFF;
    border: solid 1px var(--gris-oscuro);
    outline: none;
    color: #666;
    padding: 2px;
    overflow: hidden;
    max-height: 30px;
    margin-left: 30px;
    padding-left: 15px;
    border-radius: 4px;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.buttons input{
    width: 130px;
    border: none;
    background-color:rgb(180, 35, 35);
    border-radius: 3px;
    margin: 3px;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
}


.buttons:hover{
    background-color: none;
}

.buttons input:hover{
    background-color: none;
    cursor:pointer;
}


.buttons input:first-child:hover{
    background-color: rgb(130, 25, 25);
}

.help{
    display:flex;
    flex-direction: column;
    min-width: 320px;
    text-align: center;
    justify-content: center;
    margin: 20px 0px;
}

.form-obj input:hover,
.form-obj select:hover{
    border:solid 1px #d10000;
}

/*Media Queries*/