<header>
    <div class="logo"> 
            <a href="/"><img src="/images/logo.png" alt="Logo de Vamos Las Bandas"></a>
    </div>
    <div class="searchbar" action="#" method="GET">
        <input class="input" placeholder="Buscar productos, marcas y más">
        <div class="submit"><i class="fa fa-search"></i></div>
    </div>
    <nav class="main-navbar">
        <ul>
        <!-- <li><a href="/products/create">Vender</a></li>
        <li><a href="/productCart">Mi Carrito</a></li> -->
        <li><a href="/users/login">Ingresá</a></li>
        <li><a href="/users/register">Registrate</a></li>
        <!-- <li><a href="#">Reservas</a></li>
        <li><a href="#">Contacto</a></li> -->
        </ul>
    </nav>
    <div class="burger-container">
        <a class="burguer-menu" href="#"><i class="fa fa-bars burger"></i></a>
    </div>
</header>