/*General*/

:root{
    --rojo-logo: rgb(240, 60, 60); /*Logo Red*/
    --rojo-logo2: rgb(180, 35, 35);
    --gris-oscuro: #666;
    --gris-claro: lightgray; /*Background color*/
}

*{
    font-family: 'Roboto Flex', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

/*Header*/

/*Main*/

main{
    width: 90%;
    margin: 20px auto;
}

.titulo-principal {
    width: 100%;
    margin: 20px 0;
    font-size: 24px;
}

main section.carrito-de-compras {
    width: 100%;
    padding: 15px 0px;
    background: var(--gris-claro);
    border: 1px solid var(--gris-claro);
    clear: both;
    margin: 0;
}

main article{
    background-color: white;
    height: inherit;
    /*display: flex;*/
    align-items: center;
    box-shadow: 1px 2px 8px rgb(100, 100, 100);
    border-radius: 4px;
    opacity: 1;
    margin-bottom: 16px;
}

main article img{
    width: 10%;
    padding: 10px 0;
    margin: 0px 6px 0px 6px;
}

main article section.info-articulo {
    margin: 0px 6px 0px 6px;
    text-decoration: none;
}

main article section.info-articulo h2 a{
    text-decoration: none;
    font-weight: 400;
    font-size: medium;
    color: black;
    margin: 6px 0px 3px 0px;
}

main article section.info-articulo h2 {
    text-decoration: none;
    font-weight: 400;
    font-size: small;
    color: var(--gris-oscuro);
    margin: 3px 0px 3px 0px;
}

main article section.info-articulo i {
    margin: 3px 6px 6px 3px;
}

main article section.total {
    margin: auto;
}

.u-float-left {
    float: left!important;
}

.u-button-reset {
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0;
    outline: 0!important;
    width: auto;
    font-size: inherit;
    font-family: "Roboto Flex", sans-serif;
}

.cart-inline-loading__quantity-selector {
    display: inline-block;
    position: absolute;
}

.agregar-mas-productos {
    justify-content: center;
    width: 100%;
    margin: 16px 0px 16px 0px;
}

.agregar-mas-productos a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-decoration-line: underline;
    color: var(--rojo-logo2) ;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

main section.totales {
    background: white;
    border: 1px solid #d10000; 
    box-shadow: 1px 2px 8px rgb(100, 100, 100);
    border-radius: 4px;
    opacity: 1;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 16px;
}

main section.totales h3 {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

main section.totales div{
    margin: 8px 12px 8px 12px;
}

.subtotal {
    text-align: left;
    display: flex;
    color: var(--gris-oscuro) !important;
}

.subtotal h3 {
    margin-right: auto;
    color: var(--gris-oscuro) !important;
}

.subtotal span strong {
    font-weight: 400;
    color: var(--gris-oscuro) !important;
}

.total {
    text-align: left;
    display: flex;
}

.total h3 {
    margin-right: auto;
}

.total span {
    font-weight: bold;
}

.totales div div h3 {
    font-size: 15px !important;
}

.totales div div input {
    font-size: 15px !important;
}

main section.totales div.envio div.icono-titulo {
    display: flex;
}

.icono-titulo i {
    margin-right: 6px;
}

main section.totales div.calcular-envio {
    display: flex;
    margin: 0px;
    margin-top: 4px;
}

.calcular-envio input {
    width: 60%;
    background-color: #FFF;
    border: none;
    outline: 1px solid var(--gris-claro);
    color: #666;
    overflow: hidden;
    border-radius: 4px;
    padding: 2px;
}

.calcular-envio button {
    width: 40%;
    background-color: var(--rojo-logo);
    color: white;
    text-decoration:none;
    border: none;
    border-radius:4px;
    cursor:pointer;
}

main section.totales div.cupon div.icono-titulo {
    display: flex;
}

main section.totales div.calcular-descuento {
    display: flex;
    margin: 0px;
    margin-top: 4px;
}

.calcular-descuento input {
    width: 60%;
    background-color: #FFF;
    border: none;
    outline: 1px solid var(--gris-claro);
    color: #666;
    overflow: hidden;
    border-radius: 4px;
    padding: 2px;
}

.calcular-descuento button {
    width: 40%;
    background-color: var(--rojo-logo);
    color: white;
    text-decoration:none;
    border: none;
    border-radius:4px;
    cursor:pointer;
}

.myButton {
	background-color:var(--rojo-logo);
	border-radius:4px;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:12px 76px;
	text-decoration:none;
    width: auto;
    text-align: center;
    width: -webkit-fill-available;
}

.myButton:hover,
.calcular-descuento button:hover,
.calcular-envio button:hover{
    background-color: var(--rojo-logo2);
}

input:hover{
    outline:1px solid var(--rojo-logo)
}

.info-articulo i:hover,
.agregar-mas-productos a:hover{
    color:var(--rojo-logo);
    cursor:pointer
}

/*Footer*/

/*Media Queries*/

@media (min-width: 470px){
    main section.carrito-de-compras {
        display: flex;
    }

    main article{
        height: inherit;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 769px){
    main section.carrito-de-compras {
        display: flex;
    }

    main article{
        height: inherit;
        display: flex;
        align-items: center;
    }

    .myButton:hover {
        background-color:var(--rojo-logo2);
    }

    .myButton:active {
        position:relative;
        top:1px;
    }

    .calcular-envio button:hover {
        background-color:var(--rojo-logo2);
    }

    .calcular-descuento button:hover {
        background-color:var(--rojo-logo2);
    }

    .columna-izquierda {
        float: left;
        width: 65%;
        margin: 12px;
    }

    .columna-derecha {
        float: right;
        width: 35%;
        margin: 12px;
    }

    .ui-quantity-selector__container {
        border: 1px solid #e6e6e6;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;
        vertical-align: top;
        display: inline-block;
        padding: 10px;
        margin: auto;
    }

    .ui-quantity-selector__container .ui-quantity-selector__input {
        width: 55px;
    }
    
    .ui-quantity-selector__input {
        width: 47px;
        font-size: 15px;
    }

    .ui-quantity-selector__button, .ui-quantity-selector__input {
        border: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: block;
        float: left;
        text-align: center;
    }
    .ui-quantity-selector--max-quantity-error .ui-quantity-selector__stock, .ui-quantity-selector--min-quantity-error .ui-quantity-selector__stock {
        color: #f73;
    }
}

@media (min-width: 1135px){
/*hacer que contador y $ columna izq vayan para abajo descripción art*/
}